*{
    background-color: #333;
  color: #ffcb00;
  font-weight: 600;
  font-family: sans-serif;
  justify-content: center;
  align-content: center;
  display: grid;
  top: 30%;
  position: relative;
}